
<!-- # ------------------------------------------------------------------
# kickassGFX.net - Best Graphic Source - Free Themes, Scripts & Plugins 
# -----------------------------------------------------------------------
# This file has been downloaded from KickassGFX.net
# Homepage: http://www.kickassgfx.net/
# -----------------------------------------------------------------------
# You'll find your Updates everyday at KickassGFX.net
# -----------------------------------------------------------------------
# If you need support with this template you can
# contact us at   http://www.kickassgfx.net/
# ------------------------------------------------------------------- -->

<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Marcin Banaszek - Coffeecream.eu, info@coffeecream.eu" />
	<meta name="description" content="Shopshifter is a perfect theme for every type of online shops." />
	<meta name="keywords" content="shop template, shop theme, online shop, html template, html theme, html5, css3" />
	
	<title>Shopshifter - HTML5 and CSS3 shop template</title>
	
	<link href="./css/style.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Signika:400,700|Norican' rel='stylesheet' type='text/css' />
	
	<!--[if lt IE 9]><script src="./js/html5shiv.js"></script><![endif]-->
	<script src="./js/jquery-1.7.2.min.js"></script>
	<script src="./js/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="./js/jquery.menu.pack.js"></script>
	<script src="./js/hover.zoom.js"></script>
	<script src="./js/settings-inner.js"></script>
	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<!-- HEADER START -->

	<header class="header-breadcrumb">
	
		<div class="wrapper">
	
			<h1>
				<a href="./index.html">
					Shopshifter
					<span>Your perfect store theme</span>
				</a>
			</h1>
			
			<nav>
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li class="menumain">About This Theme
						<ul>
							<li><a href="./typography.html">Typography</a></li>
							<li><a href="./columns.html">Columns &amp; Buttons</a></li>
							<li><a href="./tables.html">Tables</a></li>
							<li><a href="./pricing.html">Pricing Table</a></li>
							<li><a href="./tabs.html">Tabs &amp; Accordion</a></li>
						</ul>
					</li>
					<li class="menumain">Catalog
						<ul>
							<li><a href="./category.html">Category 1</a></li>
							<li><a href="./category.html">Category 2</a></li>
							<li><a href="./category.html">Category 3</a></li>
							<li><a href="./category.html">Category 4</a></li>
						</ul>
					</li>
					<li><a href="./blog.html">Blog</a></li>
					<li><a href="./contact.html">Contact Us</a></li>
				</ul>
			</nav>
			
			<section class="cart">
				<ul>
					<li class="cart-title"><a href="#">Shopping Cart:</a></li>
					<li class="cart-price"><a href="#">&euro;99.90</a></li>
					<li class="cart-items"><a href="#">8 items</a></li>
					<li class="cart-login"><a href="#">Login</a></li>
				</ul>
			</section><!-- .cart end -->
			
			<section class="social-networks">
				<ul>
					<li><a href="http://facebook.com/coffeecreameu" target="_blank"><img src="./images/facebook.png" width="26" height="52" alt="Like me on Facebook" /></a></li>
					<li><a href="http://twitter.com/coffeecreameu" target="_blank"><img src="./images/twitter.png" width="26" height="52" alt="Follow me on Twitter" /></a></li>
					<li><a href="http://plus.google.com/111405957653832671873" target="_blank"><img src="./images/google.png" width="26" height="52" alt="Add me on Google Plus" /></a></li>
					<li><a href="http://www.linkedin.com/in/banaszek" target="_blank"><img src="./images/linkedin.png" width="26" height="52" alt="Find me on LInkedIn" /></a></li>
				</ul>
			</section><!-- .social-networks end -->
			
			<section class="searchbox">
				<form />
					<input type="text" value="Search product" />
					<input type="button" value="Search" />
				</form>
			</section><!-- .searchbox end -->
			
			<section class="breadcrumb">
				<ul>
					<li class="first"><a href="#">Shopshifter</a></li>
					<li><a href="#">About This Theme</a></li>
					<li>Columns &amp; Buttons</li>
				</ul>
			</section>
			
		</div><!-- .wrapper end -->
		
	</header>

<!-- HEADER END -->

<!-- MAIN CONTENT START -->

	<section class="main wrapper">
	
		<article>
			<h1>Columns &amp; Buttons</h1>
			<h6>1/2 columns</h6>
			<div class="one-second">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Sed iaculis tristique massa sagittis fermentum. Mauris nisi tellus, semper vel 
			bibendum in, elementum suscipit enim. Sed in quam sed lectus ultricies laoreet 
			quis vitae magna. Curabitur aliquam mauris sit amet enim cursus et ultrices 
			risus porta.</div>
			<div class="one-second">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Sed iaculis tristique massa sagittis fermentum. Mauris nisi tellus, semper vel 
			bibendum in, elementum suscipit enim. Sed in quam sed lectus ultricies laoreet 
			quis vitae magna. Curabitur aliquam mauris sit amet enim cursus et ultrices 
			risus porta.</div>
			<div class="clear"></div>
			<h6>1/3 columns</h6>
			<div class="one-third">Maecenas molestie hendrerit imperdiet. Maecenas tortor 
			massa, tristique vitae vehicula eget, ullamcorper ac ante. Nulla dignissim 
			tincidunt nisl, ut rutrum orci sodales et.</div>
			<div class="one-third">Maecenas molestie hendrerit imperdiet. Maecenas tortor 
			massa, tristique vitae vehicula eget, ullamcorper ac ante. Nulla dignissim 
			tincidunt nisl, ut rutrum orci sodales et.</div>
			<div class="one-third">Maecenas molestie hendrerit imperdiet. Maecenas tortor 
			massa, tristique vitae vehicula eget, ullamcorper ac ante. Nulla dignissim 
			tincidunt nisl, ut rutrum orci sodales et.</div>
			<div class="clear"></div>
			<h6>1/4 columns</h6>
			<div class="one-forth">Mauris massa mi, vestibulum eget suscipit vel, porta 
			in urna. Phasellus nec magna nec lorem accumsan porta nec quis dui.</div>
			<div class="one-forth">Mauris massa mi, vestibulum eget suscipit vel, porta 
			in urna. Phasellus nec magna nec lorem accumsan porta nec quis dui.</div>
			<div class="one-forth">Mauris massa mi, vestibulum eget suscipit vel, porta 
			in urna. Phasellus nec magna nec lorem accumsan porta nec quis dui.</div>
			<div class="one-forth">Mauris massa mi, vestibulum eget suscipit vel, porta 
			in urna. Phasellus nec magna nec lorem accumsan porta nec quis dui.</div>
			<div class="clear"></div>
			<h6>Buttons</h6>
			<div class="one-second">
				<p><button class="red big">Big Red Button</button></p>
				<p><button class="red">Medium Red Button</button></p>
				<p><button class="red small">Small Red Button</button></p>
			</div>
			<div class="one-second">
				<p><button class="green big">Big Green Button</button></p>
				<p><button class="green">Medium Green Button</button></p>
				<p><button class="green small">Small Green Button</button></p>
			</div>
			<div class="one-second">
				<p><button class="white big">Big White Button</button></p>
				<p><button class="white">Medium White Button</button></p>
				<p><button class="white small">Small White Button</button></p>
			</div>
			<div class="one-second">
				<p><button class="black big">Big Black Button</button></p>
				<p><button class="black">Medium Black Button</button></p>
				<p><button class="black small">Small Black Button</button></p>
			</div>
			<div class="clear"></div>
		</article>
		
		<aside>
		
			<section class="categories">
				<h2>About This Theme</h2>
				<div class="accordion">
					<h3><a href="#">Typography</a></h3>
					<div>
						<ul>
							<li><a href="./typography.html">Submenu 1</a></li>
							<li><a href="./typography.html">Submenu 2</a></li>
							<li><a href="./typography.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Columns &amp; Buttons</a></h3>
					<div>
						<ul>
							<li><a href="./columns.html">Submenu 1</a></li>
							<li><a href="./columns.html">Submenu 2</a></li>
							<li><a href="./columns.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Tables</a></h3>
					<div>
						<ul>
							<li><a href="./tables.html">Submenu 1</a></li>
							<li><a href="./tables.html">Submenu 2</a></li>
							<li><a href="./tables.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Pricing Table</a></h3>
					<div>
						<ul>
							<li><a href="./pricing.html">Submenu 1</a></li>
							<li><a href="./pricing.html">Submenu 2</a></li>
							<li><a href="./pricing.html">Submenu 3</a></li>
						</ul>
					</div>
					<h3><a href="#">Tabs &amp; Accordion</a></h3>
					<div>
						<ul>
							<li><a href="./tabs.html">Submenu 1</a></li>
							<li><a href="./tabs.html">Submenu 2</a></li>
							<li><a href="./tabs.html">Submenu 3</a></li>
						</ul>
					</div>
				</div><!-- .accordion end -->
			</section><!-- .categories end -->
			
			<section class="about">
				<h2>About Us</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac massa nulla, sed laoreet tellus. Proin feugiat rhoncus massa in faucibus. Duis et orci nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p><a href="http://coffeecream.eu/templates/shopshifter-html/about.html" class="more">Read More</a></p>
				<p>&nbsp;</p>
			</section><!-- .about end -->
		
		</aside>
		
		<div class="clear"></div>

	</section><!-- .main end -->

<!-- MAIN CONTENT END -->

<!-- FOOTER START -->

	<footer>
	
		<div class="wrapper">
		
			<section class="column" id="menu">
				<h3>Shopshifter</h3>
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li><a href="./typography.html">About This Theme</a></li>
					<li><a href="./category.html">Catalog</a></li>
					<li><a href="./blog.html">Blog</a></li>
					<li><a href="./contact.html">Contact Us</a></li>
				</ul>
			</section><!-- #menu end -->
			
			<section class="column" id="contact">
				<h3>Contact Us</h3>
				<p>
					Dunstaffnage Hall<br />
					St. Brigid’s Church Road<br />
					Stillorgan, Co. Dublin, Ireland
				</p>
				<p>
					Telephone: +353 1 222 3333<br />
					Fax: +353 1 222 3333<br />
					Email: <a href="mailto:info@cofeecream.eu">info@cofeecream.eu</a>
				</p>
			</section><!-- #contact end -->
			
			<section class="column" id="tweets">
				<h3>Tweets</h3>
				<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'profile',
				  rpp: 1,
				  interval: 30000,
				  width: 202,
				  height: 300,
				  theme: {
					shell: {
					  background: 'none',
					  color: '#ffffff'
					},
					tweets: {
					  background: 'none',
					  color: '#999999',
					  links: '#ffffff'
					}
				  },
				  features: {
					scrollbar: false,
					loop: false,
					live: false,
					behavior: 'all'
				  }
				}).render().setUser('coffeecreameu').start();
				</script>
			</section><!-- #tweets end -->
			
			<section class="column" id="payments">
				<h3>Payments</h3>
				<ul>
					<li class="american-express">American Express</li>
					<li class="discover">Discover</li>
					<li class="visa">Visa</li>
					<li class="mastercard">Mastercard</li>
					<li class="maestro">Maestro</li>
					<li class="cirrus">Cirrus</li>
					<li class="paypal">Paypal</li>
					<li class="google-checkout">Google Checkout</li>
				</ul>
			</section><!-- #payments end -->
			
			<p class="copyright">&copy; Copyright 2012 <a href="http://coffeecream.eu/" target="_blank">Coffeecream.eu</a></p>
			<p class="credits"><a href="http://coffeecream.eu/" target="_blank">Web Design &amp; Development</a> by Coffeecream.eu</p>
		
		</div><!-- .wrapper end -->
	
	</footer>

<!-- FOOTER END -->

</body>
</html>
