
<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Marcin Banaszek - Coffeecream.eu, info@coffeecream.eu" />
	<meta name="description" content="Shopshifter is a perfect theme for every type of online shops." />
	<meta name="keywords" content="shop template, shop theme, online shop, html template, html theme, html5, css3" />
	
	<title>Shopshifter - HTML5 and CSS3 shop template</title>
	
	<link href="./css/style.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Signika:400,700|Norican' rel='stylesheet' type='text/css' />
	
	<!--[if lt IE 9]><script src="./js/html5shiv.js"></script><![endif]-->
	<script src="./js/jquery-1.7.2.min.js"></script>
	<script src="./js/jquery.menu.pack.js"></script>
	<script src="./js/jquery.asyncslider.min.js"></script>
	<script src="./js/jquery.easing.1.3.js"></script>
	<script src="./js/jcarousellite_1.0.1.min.js"></script>
	<script src="./js/hover.zoom.js"></script>
	<script src="./js/settings-home.js"></script>
	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<!-- HEADER START -->

	<header>
	
		<div class="wrapper">
	
			<h1>
				<a href="./index.html">
					Shopshifter
					<span>Your perfect store theme</span>
				</a>
			</h1>
			
			<nav>
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li class="menumain">About This Theme
						<ul>
							<li><a href="./typography.html">Typography</a></li>
							<li><a href="./columns.html">Columns &amp; Buttons</a></li>
							<li><a href="./tables.html">Tables</a></li>
							<li><a href="./pricing.html">Pricing Table</a></li>
							<li><a href="./tabs.html">Tabs &amp; Accordion</a></li>
						</ul>
					</li>
					<li class="menumain">Catalog
						<ul>
							<li><a href="./category.html">Category 1</a></li>
							<li><a href="./category.html">Category 2</a></li>
							<li><a href="./category.html">Category 3</a></li>
							<li><a href="./category.html">Category 4</a></li>
						</ul>
					</li>
					<li><a href="./blog.html">Blog</a></li>
					<li><a href="./contact.html">Contact Us</a></li>
				</ul>
			</nav>
			
			<section class="cart">
				<ul>
					<li class="cart-title"><a href="#">Shopping Cart:</a></li>
					<li class="cart-price"><a href="#">&euro;99.90</a></li>
					<li class="cart-items"><a href="#">8 items</a></li>
					<li class="cart-login"><a href="#">Login</a></li>
				</ul>
			</section><!-- .cart end -->
			
			<section class="social-networks">
				<ul>
					<li><a href="http://facebook.com/coffeecreameu" target="_blank"><img src="./images/facebook.png" width="26" height="52" alt="Like me on Facebook" /></a></li>
					<li><a href="http://twitter.com/coffeecreameu" target="_blank"><img src="./images/twitter.png" width="26" height="52" alt="Follow me on Twitter" /></a></li>
					<li><a href="http://plus.google.com/111405957653832671873" target="_blank"><img src="./images/google.png" width="26" height="52" alt="Add me on Google Plus" /></a></li>
					<li><a href="http://www.linkedin.com/in/banaszek" target="_blank"><img src="./images/linkedin.png" width="26" height="52" alt="Find me on LInkedIn" /></a></li>
				</ul>
			</section><!-- .social-networks end -->
			
			<section class="searchbox">
				<form />
					<input type="text" value="Search product" />
					<input type="button" value="Search" />
				</form>
			</section><!-- .searchbox end -->
			
		</div><!-- .wrapper end -->
		
	</header>

<!-- HEADER END -->

<!-- MAIN CONTENT START -->

	<section class="main wrapper">
	
		<section class="banner">
			<ul class="slider">
				<li>
					<img src="./images/banner1.jpg" width="900" height="470" alt="" />
					<div class="slider-content">
						<h2>Awesome Store Theme!</h2>
						<ul>
							<li>10 different pages</li>
							<li>Built in HTML5 & CSS3</li>
							<li>Plenty of jQuery plugins</li>
							<li>Tested on all modern browsers</li>
							<li>Working perfectly on mobile devices</li>
							<li>Only Google web fonts</li>
							<li>Multi-place Google Map</li>
							<li>Twitter Feed</li>
						</ul>
					</div>
					<h3><span>from only</span>&euro;199.90</h3>
					<h4>-15%</h4>
				</li>
				<li>
					<img src="./images/banner2.jpg" width="900" height="470" alt="" />
					<div class="slider-content">
						<h2>Loads of jQuery Plugins!</h2>
						<ul>
							<li>Async Slider for the main banner</li>
							<li>Carousel for the featured offers</li>
							<li>Zoom Hover Effect for the photos</li>
							<li>Dropdown menu for touch screens</li>
							<li>Tabs</li>
							<li>Accordions</li>
						</ul>
					</div>
					<h3><span>from only</span>&euro;229.90</h3>
					<h4>-25%</h4>
				</li>
				<li>
					<img src="./images/banner3.jpg" width="900" height="470" alt="" />
					<div class="slider-content">
						<h2>Lot of Useful Styles!</h2>
						<ul>
							<li>All typography styles</li>
							<li>3 different table style</li>
							<li>12 different button styles</li>
							<li>Pricing table styles</li>
							<li>Form element styles</li>
							<li>Google Map markers</li>
						</ul>
					</div>
					<h3><span>from only</span>&euro;99.90</h3>
					<h4>-30%</h4>
				</li>
			</ul>
			<div class="slideNav"></div>
		</section><!-- .banner end -->
		
		<section class="featured-products">
			<h2><span>Featured Products</span></h2>
			<button class="prev">Prev</button>
			<button class="next">Next</button>
			<div class="carousel">
				<ul>
					<li>
						<div class="boxgrid">
							<img src="./images/featured-product1.jpg" width="190" height="190" alt="Featured Product" />
							<h3>Product name, brand and model goes here</h3>
							<a href="#" class="more">More Info</a>
							<a href="#" class="buy">Add to Cart</a>
						</div>
						<p>&euro;199.90</p>
					</li>
					<li>
						<div class="boxgrid">
							<img src="./images/featured-product2.jpg" width="190" height="190" alt="Featured Product" />
							<h3>Product name, brand and model goes here</h3>
							<a href="#" class="more">More Info</a>
							<a href="#" class="buy">Add to Cart</a>
						</div>
						<p>&euro;199.90</p>
					</li>
					<li>
						<div class="boxgrid">
							<img src="./images/featured-product3.jpg" width="190" height="190" alt="Featured Product" />
							<h3>Product name, brand and model goes here</h3>
							<a href="#" class="more">More Info</a>
							<a href="#" class="buy">Add to Cart</a>
						</div>
						<p>&euro;199.90</p>
					</li>
					<li>
						<div class="boxgrid">
							<img src="./images/featured-product4.jpg" width="190" height="190" alt="Featured Product" />
							<h3>Product name, brand and model goes here</h3>
							<a href="#" class="more">More Info</a>
							<a href="#" class="buy">Add to Cart</a>
						</div>
						<p>&euro;199.90</p>
					</li>
				</ul>
			</div>
		</section><!-- .featured-products end -->
		
		<section class="latest-products">
			<h2><span>Latest Products</span></h2>
			<ul>
				<li>
					<div class="zoom-image"><a href="#" class="zoom"><img src="./images/latest-product1.jpg" alt="Latest Product" /></a></div>
					<h3><a href="#">Product name, brand and model goes here</a></h3>
					<p>&euro;199.90</p>
					<p class="button"><a href="#" class="buy">Add to Cart</a></p>
				</li>
				<li>
					<div class="zoom-image"><a href="#" class="zoom"><img src="./images/latest-product2.jpg" alt="Latest Product" /></a></div>
					<h3><a href="#">Product name, brand and model goes here</a></h3>
					<p>&euro;199.90</p>
					<p class="button"><a href="#" class="buy">Add to Cart</a></p>
				</li>
				<li>
					<div class="zoom-image"><a href="#" class="zoom"><img src="./images/latest-product3.jpg" alt="Latest Product" /></a></div>
					<h3><a href="#">Product name, brand and model goes here</a></h3>
					<p>&euro;199.90</p>
					<p class="button"><a href="#" class="buy">Add to Cart</a></p>
				</li>
				<li>
					<div class="zoom-image"><a href="#" class="zoom"><img src="./images/latest-product4.jpg" alt="Latest Product" /></a></div>
					<h3><a href="#">Product name, brand and model goes here</a></h3>
					<p>&euro;199.90</p>
					<p class="button"><a href="#" class="buy">Add to Cart</a></p>
				</li>
				<li>
					<div class="zoom-image"><a href="#" class="zoom"><img src="./images/latest-product5.jpg" alt="Latest Product" /></a></div>
					<h3><a href="#">Product name, brand and model goes here</a></h3>
					<p>&euro;199.90</p>
					<p class="button"><a href="#" class="buy">Add to Cart</a></p>
				</li>
				<li>
					<div class="zoom-image"><a href="#" class="zoom"><img src="./images/latest-product6.jpg" alt="Latest Product" /></a></div>
					<h3><a href="#">Product name, brand and model goes here</a></h3>
					<p>&euro;199.90</p>
					<p class="button"><a href="#" class="buy">Add to Cart</a></p>
				</li>
			</ul>
			<div class="clear"></div>
		</section><!-- .latest-products end -->
		
	</section><!-- .main end -->

<!-- MAIN CONTENT END -->

<!-- FOOTER START -->

	<footer>
	
		<div class="wrapper">
		
			<section class="column" id="menu">
				<h3>Shopshifter</h3>
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li><a href="./typography.html">About This Theme</a></li>
					<li><a href="./category.html">Catalog</a></li>
					<li><a href="./blog.html">Blog</a></li>
					<li><a href="./contact.html">Contact Us</a></li>
				</ul>
			</section><!-- #menu end -->
			
			<section class="column" id="contact">
				<h3>Contact Us</h3>
				<p>
					Dunstaffnage Hall<br />
					St. Brigid’s Church Road<br />
					Stillorgan, Co. Dublin, Ireland
				</p>
				<p>
					Telephone: +353 1 222 3333<br />
					Fax: +353 1 222 3333<br />
					Email: <a href="mailto:info@cofeecream.eu">info@cofeecream.eu</a>
				</p>
			</section><!-- #contact end -->
			
			<section class="column" id="tweets">
				<h3>Tweets</h3>
				<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'profile',
				  rpp: 1,
				  interval: 30000,
				  width: 202,
				  height: 300,
				  theme: {
					shell: {
					  background: 'none',
					  color: '#ffffff'
					},
					tweets: {
					  background: 'none',
					  color: '#999999',
					  links: '#ffffff'
					}
				  },
				  features: {
					scrollbar: false,
					loop: false,
					live: false,
					behavior: 'all'
				  }
				}).render().setUser('coffeecreameu').start();
				</script>
			</section><!-- #tweets end -->
			
			<section class="column" id="payments">
				<h3>Payments</h3>
				<ul>
					<li class="american-express">American Express</li>
					<li class="discover">Discover</li>
					<li class="visa">Visa</li>
					<li class="mastercard">Mastercard</li>
					<li class="maestro">Maestro</li>
					<li class="cirrus">Cirrus</li>
					<li class="paypal">Paypal</li>
					<li class="google-checkout">Google Checkout</li>
				</ul>
			</section><!-- #payments end -->
			
			<p class="copyright">&copy; Copyright 2012 <a href="http://coffeecream.eu/" target="_blank">Coffeecream.eu</a></p>
			<p class="credits"><a href="http://coffeecream.eu/" target="_blank">Web Design &amp; Development</a> by Coffeecream.eu</p>
		
		</div><!-- .wrapper end -->
	
	</footer>

<!-- FOOTER END -->

</body>
</html>
